<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="contenedor-logo">
      <ul class="btn-login">
        <li>
          <a href="login"><span>Login</span></a>
        </li>
      </ul>
      <img src="../assets/img/Logo.png" class="Logo" alt="Logo de la tienda" />
    </div>
    <div class="contenedor-botones">
      <a href="/phone-nuevos" target="_blank">
        <img src="assets/img/nuevos.png" alt="Botón 1" class="imagen1" />
      </a>
      <a href="https://www.apple.com/la/iphone/" target="_blank">
        <img src="assets/img/usados.png" alt="Botón 2" class="imagen2" />
      </a>
    </div>
    <div class="contenedor-boton">
      <a href="https://www.ejemplo.com/" target="_blank">
        <img src="assets/img/accesorios.png" alt="Botón 3" class="imagen3" />
      </a>
    </div>
    <!-- Sección Sobre Nosotros -->
    <div class="sobre-nosotros">
      <h2>Sobre Nosotros</h2>
      <p>
        ¡Bienvenido a nuestra tienda! Somos un equipo apasionado que se dedica a
        ofrecer los mejores productos y servicios. Nuestra misión es satisfacer
        las necesidades de nuestros clientes y brindar una experiencia de compra
        excepcional.
      </p>
    </div>
  </body>
</html>
