<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="contenedor-logo">
      <img src="../assets/img/Logo.png" class="Logo" alt="Logo de la tienda" />
    </div>
    <div class="contenedor-botones">
      <a href="https://www.apple.com/la/iphone/" target="_blank">
        <img src="assets/img/iphoneNuevo.jpg" alt="Botón 1" class="imagen1" />
      </a>
      <a href="https://www.apple.com/la/iphone/" target="_blank">
        <img src="assets/img/iphoneUsado.png" alt="Botón 2" class="imagen2" />
      </a>
    </div>
    <div class="contenedor-boton">
      <a href="https://www.ejemplo.com/" target="_blank">
        <img
          src="assets/img/cargador-iphone.jpg"
          alt="Botón 3"
          class="imagen3"
        />
      </a>
    </div>
  </body>
</html>
