* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
  background-color: #dbd7d7;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/*------------------------------------------------------------------------------*/
.header {
  background-color: #18181b;
  text-align: center;
}

.header img {
  max-width: 100%;
  height: 120px;
}
/*------------------------------------------------------------------------------*/

.slide {
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.64);
  
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: Syne;
  
}

.texto2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: Syne;
  
}

.texto3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: Syne;
  
}

.texto,texto2,texto3 h2 {
  font-size: 45px;
  margin-bottom: 15px; /* Reducido para ajustar mejor */
  font-size: 5rem;
}

.texto,texto2,texto3 p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  font-size: 2rem;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 350px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  justify-content: center; /* Centra la imagen verticalmente */
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto; /* Cambiado de 'height: 100%;' a 'height: auto;' */
  max-width: 100%;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  object-fit: cover; /* Ajusta para llenar el contenedor manteniendo la relación de aspecto */
  object-position: center center; /* Centra la imagen vertical y horizontalmente */
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}

/*------------------------------------------------------------------------------*/
.main {
  padding: 10px;
}
/*------------------------------------------------------------------------------*/
.footer {
  background-color: #18181b;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/*------------------------------------PANTALLAS MEDIANAS------------------------------------------*/
@media (max-width: 1440px) {

  .footer {
      padding: 5px;
  }

  .slide-inner {
    height: calc( 300px + 3em);
  }

  .texto,texto2,texto3 h2 {
    font-size: px;
    margin-bottom: 15px; /* Reducido para ajustar mejor */
    font-size: 5rem;
  }
  
  .texto,texto2,texto3 p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    font-size: 2rem;
  }
}

/*------------------------------------PANTALLAS CELULARES------------------------------------------*/


@media (max-width: 430px) {
    .main {
      padding: 10px;
  }

  .footer {
      padding: 5px;
  }

  .header img {
    max-width: 100%;
    height: auto;
  }

  .slide-inner {
    height: calc( 170px + 3em);
  }

  .texto,texto2,texto3 h2 {
    font-size: 45px;
    margin-bottom: 15px; /* Reducido para ajustar mejor */
    font-size: 3rem;
  }
  
  .texto,texto2,texto3 p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    font-size: 0.8rem;
  }
}

/*------------------------------------PANTALLAS CELULARES MAS CHICOS------------------------------------------*/


@media (max-width: 375px) {
    .main {
      padding: 10px;
  }

  .footer {
      padding: 6px;
  }

  .header img {
    max-width: 100%;
    height: auto;
  }

  .slide-inner {
    height: calc( 150px + 3em);
  }

}