<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="titulo text-center">{{ titulo | uppercase}}</span>
                    </div>         
                    <form class="mt-3" [formGroup]="phoneForm" (ngSubmit)="agregarPhone()">
                        <div class="mb-3">
                            <input type="text" formControlName="modelo" class="form-control form-control-lg resaltado" placeholder="Modelo">
                            <div class="text-danger" *ngIf="phoneForm.get('modelo')?.hasError('required') && phoneForm.get('modelo')?.touched">
                                <span>El modelo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Estado</label>
                            <select class="form-select custom-select" *ngIf="mostrarSelect" formControlName="estado">
                                <option value="Nuevo">Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="bateria" class="form-control form-control-lg" placeholder="Bateria">
                            <div class="text-danger" *ngIf="phoneForm.get('bateria')?.hasError('required') && phoneForm.get('bateria')?.touched">
                                <span>La bateria <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="capacidad" class="form-control form-control-lg" placeholder="Capacidad">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="observaciones" class="form-control form-control-lg" placeholder="Observaciones">
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="valor" class="form-control form-control-lg" placeholder="Valor">
                        </div>
                        <div class="mb-3">
                            <input type="file"  class="d-none" (change)="onPhotoSelected($any($event))" #photoInput>
                            <img [src]="photoSelected || 'assets/img/no-image.png'" class="img-fluid" alt="" (click)="photoInput.click()">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/phone">VOLVER</button>
                            <button class="btn btn-success btn-lg float-end" type="submit" [disabled]="phoneForm.invalid">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
