<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PHONES</span>
                    <button class="btn btn-success float-end" routerLink="/agregar-phone">NUEVO</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Modelo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Bateria</th>
                            <th scope="col">Capacidad</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">Valor</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Iphone 14</td>
                            <td>Nuevo</td>
                            <td>100%</td>
                            <td>128GB</td>
                            <td>Black</td>
                            <td>600USD</td>
                            <td>
                                <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fas fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>