<div class="row">
    <div class="col-md-4 p-4" *ngFor="let acces of accesorios">
        <div class="card">
            <div class="card-header">
                {{acces.nombre}}
            </div>
            <div *ngFor="let imagePath of acces.imagePaths">
                <img [src]="'http://localhost:3000' + imagePath" alt="" class="img-card-top w-100">
            </div>
            <div class="card-body">
                <p>{{acces.precio}}</p>
            </div>
        </div>
    </div>
</div>