<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <span class="titulo">{{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="accesorioForm" (ngSubmit)="agregarAccesorio()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger" *ngIf="accesorioForm.get('nombre')?.hasError('required') && accesorioForm.get('nombre')?.touched">
                                <span>El nombre <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="precio" class="form-control form-control-lg" placeholder="Precio">
                            <div class="text-danger" *ngIf="accesorioForm.get('precio')?.hasError('required') && accesorioForm.get('precio')?.touched">
                                <span>El precio <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- Input para la imagen principal -->
                            <input type="file" class="d-none" (change)="onMainPhotoSelected($event)" #mainPhotoInput>
                            <img [src]="photoSelect" class="img-fluid mb-2" alt="Imagen Principal" (click)="mainPhotoInput.click()" width="100" height="100">
                            <button type="button" class="btn btn-primary btn-sm" (click)="mainPhotoInput.click()">Seleccionar Imagen Principal</button>

                            <!-- Sección existente para imágenes secundarias, sin cambios -->
                            <input type="file" name="imagePaths" multiple class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                            <div class="d-flex flex-row flex-wrap">
                                <div *ngFor="let photo of photosSelected; let i = index">
                                    <img [src]="photo" class="img-fluid mb-2" alt="Imagen seleccionada {{i + 1}}" (click)="photoInput.click()" width="50" height="50">
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-sm" (click)="photoInput.click()">Seleccionar Fotos Secundarias</button>

                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/accesorio">VOLVER</button>
                            <button class="btn btn-success btn-lg float-end" type="submit" [disabled]="accesorioForm.invalid">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>